html {
   scroll-behavior: smooth;
}

body {
   padding: 0;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   background: rgb(64, 64, 162);
   color: #fefefe;
   position: relative;
   line-height: 30px;
}

a {
   text-decoration: none;
}

.titulo {
   text-align: center;
   margin-bottom: 1.875rem;
   color: #303057;
   background-color: rgba(255, 255, 255, 0.313);
   padding: 10px;
   font-size: 2.2em;
}

.header--logo {
   padding-left: 0.625rem;
   font-size: 1.5rem;
   background-color: #303057;
   display: block;
}

@media (min-width: 700px) {
   .header--container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #303057;
      border-bottom: 1px solid #580079;
      color: white;
      width: 100%;
      padding-top: 0.625rem;
   }
}

@media (min-width: 1200px) {
   .header--container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #303057;
      border-bottom: 0.063rem solid #580079;
      color: white;
      width: 100%;
      padding-top: 0.625rem;
   }

   .header--navbar-pc {
      display: flex;
      gap: 1.875rem;
      font-size: 1.5rem;
      padding-bottom: 0.625rem;
      align-items: center;
      width: 100%;
      justify-content: center;
      margin-top: 0.313rem;
      background-color: #303057;
   }

   .header--navbar {
      display: none;
      background-color: #303057;
   }
}

.introducao {
   margin-top: 9.375rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.introducao--container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.introducao--titulo {
   font-size: 99%;
   text-align: center;
   margin: 1.25rem 3.125rem;
   font-family: 'Press Start 2P', cursive;
   line-height: 80px;
}

.introducao--titulo-color {
   color: #303057;
   font-size: 2em;
}

.introducao--titulo-color:hover {
   text-decoration: underline;
}

.introducao-cv {
   padding: 10px 20px;
   background: #fefefe;
   text-decoration: none;
   font-weight: 700;
   color: #303057;
   border-radius: 1.125rem;
   transition: 0.6s;
   margin: 10px;
}

.introducao-cv:hover {
   color: white;
   padding: 0.75rem 1.375rem;
   background-color: #303057;
}

.introducao--links {
   margin-top: 10px;
}

@media (min-width: 700px) {
   .introducao {
      margin-top: 9.375rem;
      display: flex;
      flex-direction: row;
      align-items: inherit;
      justify-content: space-around;
      margin-bottom: 6.25rem;

   }
}

@media (min-width: 1200px) {
   .introducao {
      margin-top: 9.375rem;
      display: flex;
      flex-direction: row;
      align-items: inherit;
      justify-content: space-around;
      margin-bottom: 6.25rem;
   }

   .introducao--container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
   }

   .introducao--titulo-aumentar {
      font-size: 2.5em;
      color: rgba(254, 254, 254, 0.6);
   }
}

.sobre {
   border-radius: 0.938rem;
   margin-top: 3.125rem;
}

.sobre--container {
   background-color: rgba(254, 254, 254, 0.1);
   border-radius: 0.938rem;
   margin: 1.875rem 1.25rem 0 1.25rem;
}

.sobre--container-perfil {
   border-radius: 0.938rem;
   margin: 1.875rem 1.25rem 0 1.25rem;
}

.sobre--container-perfil img {
   margin: auto;
}

.sobre--descricao {
   font-size: 1rem;
   text-align: center;
   font-weight: 200;
   padding: 1.25rem;
}

@media (min-width: 700px) {
   .sobre--container {
      margin: 20px 80px;
   }

   .sobre--container-perfil {
      margin: 1.25rem 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .sobre--container-perfil img {
      width: 90%;
   }

   .sobre--descricao {
      font-weight: 400;
      font-size: 1.25rem;
      padding: 0.625rem 1.875rem;
   }
}

@media (min-width: 1200px) {
   .sobre--container {
      margin: 20px 80px;
   }

   .sobre--container-perfil {
      margin: 1.25rem 5rem;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
   }

   .sobre--descricao {
      font-weight: 400;
      font-size: 1.25rem;
      padding: 0.625rem 1.875rem;
   }
}

.projetos {
   margin-top: 3.125rem;
}

@media (min-width: 700px) {
   .projetos--container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 0 3.438rem;
   }
}

@media (min-width: 1200px) {
   .projetos--container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 0 3.438rem;
   }
}

.card:first-child {
   margin-top: 0;
}

.card--titulo {
   text-align: center;
}

.card img {
   max-width: 100%;
   cursor: zoom-in;
   transition: 0.6s;
   margin: auto;
}

.card img:hover {
   outline: 0.25rem dashed #7C7CBF;
}

.card--botao {
   padding: 0.625rem 1.25rem;
   background-color: white;
   border-radius: 0.938rem;
   font-size: 0.875rem;
   font-weight: 700;
   color: #303057;
   text-align: center;
   margin: 0 0.625rem 0.625rem 0.625rem;
   transition: 0.6s;
}

.card--botao:hover {
   background-color: #303057;
   color: white;
}

@media (min-width: 700px) {
   .card {
      padding: 0.625rem 0.625rem 1.25rem 0.625rem;
      border-radius: 0.938rem;
      background-color: rgba(254, 254, 254, 0.1);
      margin: 2.5rem 1.25rem;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .card:first-child {
      margin-top: 2.5rem;
   }
}

@media (min-width: 1200px) {
   .card {
      display: flex;
      padding: 0.625rem 0.625rem 1.25rem 0.625rem;
      border-radius: 0.938rem;
      flex-direction: column;
      align-items: center;
      background-color: rgba(254, 254, 254, 0.1);
      margin: 2.5rem 1.25rem;
   }

   .card:first-child {
      margin-top: 2.5rem;
   }
}

.container--botao {
   margin-top: 0.625rem;
   width: 100%;
   display: flex;
   justify-content: space-around;
}

.footer {
   background-color: rgba(254, 254, 254, 0.1);
   padding: 1.875rem 0.625rem 5px 0.625rem;
   margin-top: 6.25rem;
}

.contato {
   text-align: center;
   margin: 0;
   margin-bottom: 3px;
}