/* Definição das variáveis de cor */
:root {
  --cor-1: #f9b4ab; /* Cor 1 */
  --cor-2: #fdebd3; /* Cor 2 */
  --cor-3: #264d70b6; /* Cor 3 */
  --cor-4: #6791869b; /* Cor 4 */
  --cor-5: #bbd4ce; /* Cor 5 */
  --border-radius-medium: 0.9rem; /* Raio de borda médio */
  --button-padding-vertical: 0.5rem; /* Preenchimento vertical do botão */
  --button-padding-horizontal: 1rem; /* Preenchimento horizontal do botão */
  --button-font-size: 0.9rem; /* Tamanho da fonte do botão */
}

/* Estilização da barra de rolagem do navegador */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--cor-3); /* Cor de fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: #303057; /* Cor do polegar da barra de rolagem */
  border-radius: 20px; /* Raio de borda do polegar */
  border: 3px solid var(--cor-4); /* Borda do polegar */
}

/* Estilos gerais */
html {
  scroll-behavior: smooth; /* Rolagem suave */
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--cor-5); /* Cor de fundo do corpo */
  position: relative;
  line-height: 1.5;
  overflow-x: hidden; /* Ocultar rolagem horizontal */
}
