:root {
  --cor-1: #f9b4ab;
  --cor-2: #fdebd3;
  --cor-3: #264d70b6;
  --cor-4: #6791869b;
  --cor-5: #bbd4ce;
  --border-radius-medium: 0.9rem;
  --button-padding-vertical: 0.5rem;
  --button-padding-horizontal: 1rem;
  --button-font-size: 0.9rem;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--cor-3);
}

::-webkit-scrollbar-thumb {
  background-color: #303057;
  border-radius: 20px;
  border: 3px solid var(--cor-4);
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--cor-5);
  position: relative;
  line-height: 1.5;
  overflow-x: hidden;
}