@media screen and (max-width: 768px) {
    .container {
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
 
    .card {
       margin: 1.875rem 0.625rem;
    }
 
    .card--titulo {
       font-size: 1.5rem;
    }
 
    .img--card {
       width: 100%;
    }
 
    .projetos--container {
       grid-template-columns: repeat(1, 1fr);
       gap: 10px;
       padding: 0 10px;
    }
 
    .sobre--container,
    .tecnologias,
    .projetos,
    .desafios {
       width: 100%;
       padding: 0 2.5%;
       box-sizing: border-box;
    }
 
    .introducao--titulo {
       margin: 10px;
       font-size: 1em;
    }
 
    .introducao--img {
       width: 100%;
       max-width: 300px;
       height: auto;
    }
 
    .sobre--descricao {
       font-size: 1.2em;
    }
 }